.heads{
	font-weight: bold;
}

.pict{
	width: 30%;
}

.capt{
	font-style:oblique;
}

h2{
	color: purple;
}

h3{
	color: gray;
}

td{
  border-color: black;
  border-style: dotted;
  padding: 10px;
  text-align: center;
  
  
}

.empty{
	border-style: none;
}
